<script>
  import {menuPos, showMenu, menuTarget} from './store'
  import * as model from './model'
  //TODO use menuTarget together with options
  export let options = []
  // export let x = 0;
  // export let y = 0;
  // export let showMenu = false;
  $: opts = [
    ...[
      'bill',
      'meta',
      // "copy",
      // "paste",
      // "rename",
      // 'move to',
      // 'delete',
      'bringtogether',
      'ungroup',
    ],
    ...options,
  ]

  let allTransacs = []
  let meta = {
      amount: 0,
      senders: new Set(),
      receivers: new Set(),
      wordCount: 0,
    },
    infoType = 'bill'
  let showInfoBoard = false
</script>

<style lang="scss">
  .menu {
    position: fixed;
    pointer-events: visible;
    z-index: 99999;
    background: #fafafa;
    padding: 8px 10px;
    box-shadow: 2px 2px 8px #3336;
    border-radius: 3px;
    .opt {
      &:hover {
        background: #ccc;
      }
      text-transform: capitalize;
      cursor: pointer;
    }
  }
  .info-board {
    display: none;
    position: fixed;
    padding: 2rem;
    border-radius: 10px;
    border: solid 2px #36a;
    left: 30vw;
    top: 30vh;
    background: #fafafa;
    pointer-events: visible;
    .bill-amount {
      margin-bottom: 9px;
    }
  }

  .hidden {
    display: none;
  }
  .visible {
    display: inherit;
  }
</style>

<div
  class="menu"
  class:hidden={!$showMenu}
  style={`transform:translate(${$menuPos.x}px,${$menuPos.y}px);`}
  on:click={(evt) => {
    let ops = evt.target.getAttribute('data-opt').split('/')
    const group = model.groups[model.currentGroupID]
    console.log('ctx click', model.currentGroupID, group)
    const emails = model.getEmails(group.memberIDs)
    switch (ops[0]) {
      case 'bill':
        allTransacs.length = 0
        for (const mail of emails) {
          if (mail.transacs) allTransacs = allTransacs.concat(mail.transacs)
        }
        console.log('bill', allTransacs)
        showInfoBoard = true
        infoType = 'bill'
        break
      case 'meta':
        meta = {amount: emails.length, senders: new Set(), receivers: new Set(), wordCount: 0}
        console.log('meta', meta)
        for (const mail of emails) {
          meta.senders.add(mail.from)
          meta.receivers.add(mail.to)
          mail.wordCount = mail.content.split(/\s/).length
          console.log(mail.wordCount)
          meta.wordCount += mail.wordCount
        }
        console.log(meta.senders, meta.receivers, meta.wordCount)
        infoType = 'meta'
        showInfoBoard = true
        break
      case 'move to':
        break
      case 'delete':
        break
      case 'ungroup':
        model.removeGroup(model.currentGroupID)
        break
      case 'bringtogether':
        model.bringTogether(model.currentGroupID)
        break
      default:
        break
    }
    $showMenu = false
  }}>
  {#each opts as opt}
    <div class="opt" data-opt={opt}>{opt}</div>
  {/each}
</div>
<div
  class="info-board"
  class:visible={showInfoBoard}
  on:click={() => {
    showInfoBoard = false
  }}>
  {#if infoType === 'meta'}
    <div class="senders">
      <div>Senders:</div>
      {#each Array.from(meta.senders) as item}
        <span>{item}</span>
        &nbsp;
      {/each}
    </div>
    <div class="receivers" />
    <div>Receivers:</div>
    {#each Array.from(meta.receivers) as item}
      <span>{item}</span>
      &nbsp;
    {/each}
    <div class="word-count" />
    <div>Word Count:</div>
    <span>{meta.wordCount}</span>
  {:else if infoType === 'bill'}
    {#each allTransacs as item}
      <div>Account:{item.account}</div>
      <div>Type:{item.type}</div>
      <div class="bill-amount">Amount:{item.amount}</div>
    {/each}
    <div>
      Total Amount:{allTransacs.reduce((acc, cur) => {
        if (cur.amount) {
          console.log('cur.amount', cur.amount)
          acc += cur.amount
        }
        return acc
      }, 0)}
    </div>
  {:else}
    <!-- else content here -->
  {/if}

</div>
