<script context="module">
  let logs = [{ name: "sd", value: "d" }];

  export function log(name, value) {
    logs = [...logs, { name, value }];
    console.log(logs);
    console.log(name, value);
  }
  function clearLogs() {
    logs.length = 0;
  }
</script>

<script>
  import { onMount } from "svelte";

  let hidden = true;
  let _logs = [];

  onMount(() => {
    function refresh() {
      _logs = logs;
    }
    setInterval(() => {
      refresh();
    }, 1000);
    return () => {
      cancelInterval(refresh);
    };
  });
</script>

<style>
  /* your styles go here */
  .root {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background: wheat;
  }
  .list {
    padding: 1rem;
  }
  .hidden {
    display: none;
  }
</style>

<div class="root">
  <button on:click={() => (hidden = !hidden)}>Debugger</button>
  <div class="list" class:hidden>
    <div class="btns">
      <button on:click={() => (hidden = !hidden)}>Toggle</button>
    </div>
    {#each _logs as item}
      <div>
        <span>{item.name}</span>
        <span>{item.value}</span>
      </div>
    {/each}
  </div>
</div>
