<script>
  import { onMount } from "svelte";
  import Two from "./two.min";
  let svgRoot;
  let two;

  let isDrawing = false;
  let isMouseDown = false;
  let drawData = {
    pathList: [],
    svgPath: new Two.Path([], false, false)
  };
  drawData.svgPath.curved = true;
  drawData.svgPath.noFill().stroke = "#aa3222";
  let clr = "white";
  function handleMouseDown(evt) {
    // document.querySelector(".logger").innerHTML = `
    // board${window.innerHeight + "," + window.outerHeight}\n
    // client${evt.layerX},${evt.layerY}\n
    // page${evt.pageX},${evt.pageY}\n
    // screen${evt.screenX},${evt.screenY}\n
    // layer${evt.layerX},${evt.layerY}\n
    // xy${evt.X},${evt.Y}\n
    // `;
    // clr = "red";
    isDrawing = true;
    drawData.pathList.length = 0;
    // drawData.pathList.push({ x: evt.layerX, y: evt.layerY });
    // drawData.pathList.push(evt.layerX, evt.layerY);
    drawData.svgPath.vertices.length = 0;
    drawData.svgPath.vertices.push(new Two.Vector(evt.layerX, evt.layerY));
    console.log(evt);
    evt.preventDefault();
  }
  function handleMouseMove(evt) {
    // drawData.pathList.push(evt.layerX, evt.layerY);
    // clr = "green";
    if (isDrawing) {
      drawData.svgPath.vertices.push(new Two.Vector(evt.layerX, evt.layerY));
      two.update();
    }
    evt.preventDefault();
  }
  function handleMouseUp(evt) {
    isDrawing = false;
    // clr = "white";
    // drawData.pathList.push({ x: evt.layerX, y: evt.layerY });
    // drawData.pathList.push(evt.layerX, evt.layerY);
    drawData.svgPath.vertices.push(new Two.Vector(evt.layerX, evt.layerY));
    // console.log(drawData.pathList.map(p => new Two.Anchor(p.x, p.y)));
    // drawData.svgPath = new Two.Path(drawData.pathList);
    // let path = two.makePath(...drawData.pathList, true);
    // console.log(path.vertices.push(new Two.Vector(444, 222)));
    // path.curved = true;
    two.update();
    // path.noFill().stroke = "#aa3222";
    evt.preventDefault();
  }

  onMount(() => {
    let params = {
      // width: window.outerWidth,
      // height: window.outerHeight,
      // class: "svg-root"
    };
    two = new Two(params).appendTo(svgRoot);
    two.add(drawData.svgPath);

    let path = new Two.Path([new Two.Vector(1, 2), new Two.Vector(222, 333)]);
    path.noFill().stroke = "#aa3333";
    // two has convenience methods to create shapes.
    // var circle = two.makeCircle(72, 100, 50);
    // var rect = two.makeRectangle(213, 100, 100, 100);

    // // The object returned has many stylable properties:
    // circle.fill = "#FF8000";
    // circle.stroke = "orangered"; // Accepts all valid css color
    // circle.linewidth = 5;

    // rect.fill = "rgb(0, 200, 255)";
    // rect.opacity = 0.75;
    // rect.noStroke();

    // Don't forget to tell two to render everything
    // to the screen
    two.update();
  });
</script>

<style lang="scss">
  .bon {
    position: relative;
  }
  .svg-root {
    position: absolute;
    overflow: visible;
    background: rgba(61, 136, 206, 0.322);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .ink-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    // margin: 5vh 5vw;
    -webkit-user-select: none !important;
    user-select: none !important;
    overflow: hidden;
  }
</style>

<div class="ink-page" style="background:{clr};">
  <div class="logger" />
  <br />
  <br />
  <h3>A qusssick brown fox jumped over the lazy dog.</h3>
  <h3>Hola</h3>
  <h3
    on:mousedown={handleMouseDown}
    on:mousemove={handleMouseMove}
    on:mouseup={handleMouseUp}
    on:touchstart={handleMouseDown}
    on:touchmove={handleMouseMove}
    on:touchend={handleMouseUp}
    class="bon">
    Bonjour
    <div bind:this={svgRoot} class="svg-root" />
  </h3>
  <button>Hello</button>
  <button>Click</button>
  <div class="circle">DIV</div>
  <div class="circle">DIV</div>
  <div class="circle">DIV</div>
  <div class="square">DIV</div>
  <div class="square">DIV</div>
  <div class="square">DIV</div>
  <div class="square">DIV</div>
</div>
