<script>
  import Inkable from './Inkable.svelte'
  import ReplyBlock from './ReplyBlock.svelte'
  import Canvas from './Canvas.svelte'
  import MarkerWrapper from './MarkerWrapper.svelte'
  // import vConsole from "vconsole";
  import {onMount} from 'svelte'

  import {
    currentFolder,
    currentTool,
    inkTarget,
    isInking,
    allInks,
    currentMailID,
  } from './store'
  import * as model from './model'
  // var vconsole = new vConsole();

  let tmpTagProbs = {}
  let predictResults = []
  let showPredict = false

  // let isInking = false;
  let fnameInput
  let selectedMailIndex = 0
  const listLen = {inbox: 10, flagged: 7, drafts: 5, sent: 3, spam: 2}
  let folderList = ['inbox', 'flagged', 'drafts', 'sent', 'archive', 'spam']
  let searching = false
  let writingMail = false

  ////  ////////////
  let tmpEmails = {}
  let sortAlgorithm = 'time'
  $: {
    if (sortAlgorithm === 'time') {
      Object.keys(model.originEmails).forEach(
        (folder) =>
          (tmpEmails[folder] = [...model.originEmails[folder]].sort(
            (a, b) => b.time - a.time,
          )),
      )
    } else if (sortAlgorithm === 'title') {
      Object.keys(model.originEmails).forEach(
        (folder) =>
          (tmpEmails[folder] = [...model.originEmails[folder]].sort((a, b) =>
            a.title.localeCompare(b.title),
          )),
      )
    }
    model.setEmails({...tmpEmails})
    console.log('REACTIVE')
  }
  let allEmails = {}
  $: {
    console.log('allEmails updated')
    allEmails = {...model.emails}
  }
  $: emails = tmpEmails

  let timer
  onMount(() => {
    timer = setInterval(() => {
      if (model.trigger) {
        model.setTrigger(false)
        emails = model.emails
        console.log('updated emails by trigger')
        setTimeout(() => {
          model.redrawAllGroups()
        }, 200)
      }
    }, 100)
    return () => {
      clearInterval(timer)
    }
  })
</script>

<style lang="scss">
  .root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
      'navbar navbar navbar' 40px
      'sidebar mailList mailDetail' auto/ 200px 300px 4fr;
    background: #f6f6f6;
  }
  nav {
    grid-area: navbar;
    // width: 80px;
    background: white;
    box-shadow: 0 2px 4px rgba(184, 184, 184, 0.6);
    // position: fixed;
    // left: 30px;
    // bottom: 100px;
    display: flex;
    z-index: 9999;

    button {
      // width: 80px;
      height: 100%;
      // border-radius: 50%;
      // color: white;
      // background: rgb(131, 190, 255);
      border: none;
      &:hover {
        background: rgb(240, 240, 240);
      }
      &:active {
        background: rgb(223, 223, 223);
      }
      input {
        height: 100%;
      }
    }
    .btn-on {
      // background: rgb(31, 90, 255);
    }
    .btn-search {
      margin-left: 300px;
    }
    .search-panel {
      background: rgb(216, 216, 246);
      position: fixed;
      z-index: 20000;
      left: 500px;
      top: 40px;
      .search-placeholder {
        background: rgb(206, 206, 206);
        width: 200px;
        height: 200px;
      }
    }
  }

  .sidebar {
    grid-area: sidebar;
    padding: 1.5rem 0.5rem;
    // width: 150px;
    display: flex;
    padding: 0 0 0 8px;
    flex-direction: column;
    text-transform: capitalize;
    .folder {
      margin: 0.3rem 0;
      padding: 0.2rem 0.5rem;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: rgb(240, 240, 240);
      }
    }
    .selected {
      background: rgb(200, 200, 200) !important;
    }
    background: #fafafa;
  }
  .folder-adder {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    align-items: center;
    input {
      width: 100%;
    }
  }
  .all-selector {
    background: #b7dbb7;
    font-size: 1.3rem;
    border-radius: 4px;
    // font-weight: bold;

    cursor: pointer;
  }
  .mail-list {
    grid-area: mailList;
    text-transform: capitalize;
    flex: 8;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    // overflow-x: visible;
    padding: 1.3%;
  }
  .mail-item {
    border-radius: 4px;
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    margin-bottom: 0.3rem; // &:not(:last-child) {
    //   border: dashed #aaa;
    //   border-width: 0 0 1px;
    // }
    &:hover {
      background: rgb(240, 240, 240);
    }
    &:active {
      background: rgb(223, 223, 223);
    }
    &.unread {
      h3 {
        color: rgb(35, 120, 216);
      }
    }
    h3 {
      margin: 0.2rem 0;
      font-size: 1rem;
      color: #555;
    }
    .time {
      color: gray;
      font-size: 0.925rem;
      margin-bottom: 0.3rem;
    }
  }
  .detail-container {
    grid-area: mailDetail;
    flex: 16;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    margin: 0.8rem;
    .mail-tools {
      position: sticky;
      top: 10px;
      width: 98%;
      background: white;
      box-shadow: 1px 2px 6px #3333332e;
      z-index: 100;
      margin: 1rem 0;
      border-radius: 5px;
      > * {
        background: white;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        margin: 0 5px 0 0;
        padding: 6px 8px;
        &:hover {
          background: rgb(206, 206, 206);
        }
        &:active {
          background: rgb(170, 170, 170);
        }
      }

      // background: rgba(0, 128, 0, 0.281);
      .btn-archive {
      }
      .btn-delete {
      }
      .btn-reply {
      }
    }
    .mail-title {
      text-transform: capitalize;
      font-size: 1.3rem;
      font-weight: bold;
      margin: 1rem 0;
    }
    .mail-content {
      // margin: 2.5%;
      padding: 0 1.7rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: white !important;
      p {
        white-space: break-spaces;
      }
    }
    .debugger {
      color: red;
    }
  }
  .all-ink {
    position: fixed;
    right: 100px;
    padding: 30px;
    bottom: 5vh;
    background: #fafa;
    display: flex;
    box-shadow: 0 2px 6px #3333;
    border-radius: 12px;
    > * {
      margin: 0.3rem 2rem;
    }
  }
  .own-tags {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
  }
  .own-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      height: 50px;
      width: 50px;
    }
  }
  .target {
    background: rgb(228, 228, 228) !important;
  }
  .predict-tags {
    position: fixed;
    left: 150px;
    top: 50px;
    z-index: 9999;
    .predict-tag {
      width: 50px;
      span {
        text-overflow: ellipsis;
      }
    }
  }

  .fk-hidden {
    visibility: hidden;
    pointer-events: none;
  }
  .hidden {
    display: none;
  }
</style>

<svelte:head>
  <title>MailDemo</title>
  <script
    src="https://cdn.jsdelivr.net/npm/leader-line@1.0.5/leader-line.min.js">

  </script>
</svelte:head>
<!-- <svelte:body on:mousedown={evt => evt.preventDefault()} /> -->
<Canvas />
<div class="root">
  <nav>
    <div>
      <!-- <button
        class:btn-on={$isInking}
        on:click={() => {
          $isInking = !$isInking;
          if ($isInking) {
            $currentTool = 'ink';
          }
        }}>
        {$isInking ? 'ink-on' : 'ink-off'}
      </button> -->

      <!-- <button
        class:btn-on={$currentTool === 'eraser'}
        on:click={() => {
          $isInking = false;
          if ($currentTool === 'eraser') {
            $currentTool = '';
          } else {
            $currentTool = 'eraser';
          }
        }}>
        Eraser
      </button> -->
      <button>New Mail</button>
      <button
        class:btn-on={$currentTool === 'eraser'}
        on:click={() => {
          showPredict = !showPredict
        }}>
        Predict
      </button>
      <button
        class="btn-search"
        class:btn-on={$currentTool === 'search'}
        on:click={() => {
          if ($currentTool === 'search') {
            $currentTool = ''
            searching = false
            emails = model.emails
            setTimeout(() => {
              model.redrawAllGroups()
            }, 0)
          } else {
            searching = true
            $currentTool = 'search'
          }
        }}>
        Search
        <!-- <input
          on:input={(evt) => {
            console.log(evt)
          }}
          type="text" /> -->
      </button>
    </div>
    <div class="search-panel" class:hidden={$currentTool !== 'search'}>
      <!-- <label for="ink-search">
        Search
        <input type="text" name="ink-search" />
      </label> -->
      <Inkable
        opts={{alwaysInking: true, autoClear: true, record: false, onTagDrawn: (tag) => {
            let points = []
            for (const [i, path] of tag.pathList.entries()) {
              points = [...points, ...path.map((p) => {
                  return {X: p.x, Y: p.y, ID: i + 1}
                })]
            }
            console.log('Gen PRE Defined TAG:', JSON.stringify(points))
            const results = model.recognize(tag)
            console.log('search tag result:', results)
            emails = model.findByTagUUID(results.values[0].Name)
          }}}
        className={$currentTool === 'search'}>
        <div class="search-placeholder" />
      </Inkable>
      <!-- <div class="all-ink">
        {#each $allInks as tag}
          <Inkable opts={{ acceptDrawing: false }} pathList={tag.pathList}>
            inks
          </Inkable>
        {/each}
      </div> -->
    </div>
  </nav>

  <div class="sidebar">
    {#each Object.keys(allEmails) as folder}
      <!-- <Inkable {isInking}> -->
      <div
        class="folder"
        class:selected={$currentFolder === folder}
        on:click={() => {
          $currentFolder = folder
        }}>
        <span>{folder}</span>
        <span>({allEmails[folder].length})</span>
      </div>
      <!-- </Inkable> -->
    {/each}
    <div class="folder-adder">
      <input bind:this={fnameInput} type="text" />
      <button
        on:click={() => {
          const fname = fnameInput.value.trim()
          folderList = [...folderList, fname]
          allEmails[fname] = []
          listLen[fname] = 0
        }}>
        add
      </button>
    </div>
  </div>
  <div class="mail-list">

    <div class="list-tools">
      <button
        on:click={() => {
          if (sortAlgorithm === 'time') {
            sortAlgorithm = 'title'
          } else if (sortAlgorithm === 'title') {
            sortAlgorithm = 'time'
          }
          setTimeout(() => {
            model.redrawAllGroups()
          }, 0)
        }}>
        order by:{sortAlgorithm}
      </button>
    </div>
    <MarkerWrapper>
      {#each emails[$currentFolder] as mail, index (mail.id)}
        <div
          data-name="marker"
          data-id={mail.id}
          class="mail-item"
          class:unread={!mail.read}
          class:target={$currentMailID === mail.id}
          on:click={(evt) => {
            mail.read = true
            if (!$isInking) {
              model.setCurrentMail(allEmails[$currentFolder][$currentMailID])
              $currentMailID = mail.id
              selectedMailIndex = index - 1
              $inkTarget = $currentFolder + 'mail-item' + mail.id
              console.log('Mail-item', mail.id)
            }
          }}>
          <h3 class="title">{mail.title}</h3>
          <div class="time">{mail.time.toDateString()}</div>
          <div class="brief">{mail.content.substring(0, 40)}</div>
        </div>
        <!-- </Inkable> -->
      {/each}
      <!-- </Inkable> -->
    </MarkerWrapper>

  </div>
  <div class="detail-container">
    {#if writingMail}
      <ReplyBlock
        from={model.getEmail($currentMailID).to}
        to={model.getEmail($currentMailID).from}
        title={'RE: ' + model.getEmail($currentMailID).title}
        clickHandler={() => {
          writingMail = false
        }} />
    {:else if allEmails[$currentFolder].length > 0}
      <div class="mail-tools">
        <button
          on:click={() => {
            writingMail = true
            console.log('writing?', writingMail)
          }}
          class="btn-reply">
          Reply
        </button>
        <button
          on:click={() => {
            let index = 0
            allEmails[$currentFolder].forEach((email, i) => {
              if (email.id == $currentMailID) index = i
            })
            console.log('index to delete is', index)
            const moveMail = allEmails[$currentFolder].splice(index, 1)
            allEmails.archive.push(moveMail)
            allEmails = {...allEmails}
          }}
          class="btn-archive">
          Archive
        </button>
        <button
          on:click={() => {
            console.log($currentFolder, $currentMailID)
            let index = 0
            allEmails[$currentFolder].forEach((email, i) => {
              if (email.id == $currentMailID) index = i
            })
            console.log('index to delete is', index)
            allEmails[$currentFolder].splice(index, 1)
            allEmails = {...allEmails}
          }}
          class="btn-delete">
          Delete
        </button>
      </div>
      <div class="mail-title">{model.getEmail($currentMailID).title}</div>
      {#if model.tagsByInkID[$currentFolder + 'mail-item' + $currentMailID]}
        <div class="own-tags">
          {#each Object.values(model.tagsByInkID[$currentFolder + 'mail-item' + $currentMailID]) as tag, i (tag.uuid)}
            <div class="own-tag">
              <label
                for={'btn-' + $currentFolder + 'mail-item' + $currentMailID}>
                <!-- TODO remove this label -->
                <!-- {tmpTagProbs[$]} -->
              </label>
              <button
                id={'btn-' + $currentFolder + 'mail-item' + $currentMailID}>
                <Inkable
                  opts={{acceptDrawing: false, fillParent: true}}
                  tagData={tag}>
                  inks
                </Inkable>

              </button>
            </div>
          {/each}
        </div>
      {/if}

      <Inkable
        inkID={$currentFolder + 'mail-item' + $currentMailID}
        opts={{onTagDrawn: (tag) => {
            predictResults = model.recognize(tag, 3)
            console.table(predictResults.values)
            predictResults = predictResults.matched ? predictResults.values : []
            if (predictResults.length > 0 && predictResults[0].Score > 0.7) {
              tag.uuid = predictResults[0].Name
              console.log('APPEND existing tag:', model.getTag(tag.uuid))
            }
            model.addTag(tag)
            $allInks = [...$allInks, tag]
            $currentMailID = $currentMailID + ''
            const tgs = model.tagsByInkID[$currentFolder + 'mail-item' + $currentMailID]
          }}}>
        <div class="mail-content">
          <div class="debugger">
            {$currentFolder + 'mail-item' + $currentMailID}
          </div>
          <p>{model.getEmail($currentMailID).content}</p>
        </div>
      </Inkable>
      {#if predictResults.length > 0 && showPredict}
        <div class="predict-tags">
          {#each predictResults as tg}
            <div class="predict-tag">
              <Inkable
                opts={{acceptDrawing: false, fillParent: true}}
                tagData={model.getTag(tg.Name)} />
              <span>Score: {tg.Score}</span>
            </div>
          {/each}
        </div>
      {/if}
    {/if}
  </div>
</div>
