<script>
  import * as model from "./model";

  export let clickHandler;
  export let from = "";
  export let to = "";
  export let title = "";
  export let content = "";
</script>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  label {
  }
  input {
    width: 100%;
    border-radius: 5px;
  }
  .subject {
    margin-top: 2rem;
  }
  textarea {
    height: 100%;
  }
  .btns {
    display: grid;
    grid-template-columns: 64px 64px 1fr;

    button {
      cursor: pointer;
      border: none;
      width: min-content;
      &:hover {
        background: rgb(206, 206, 206);
      }
      &:active {
        background: rgb(170, 170, 170);
      }
      &:last-child {
        justify-self: end;
      }
    }
  }
</style>

<main>

  <label for="sender">
    <div>From</div>
    <input type="text" bind:value={from} />
  </label>
  <label for="receiver">
    <div>To</div>
    <input type="text" bind:value={to} />
  </label>
  <input class="subject" type="text" placeholder="subject" bind:value={title} />
  <textarea name="content" id="" bind:value={content} />
  <div class="btns">
    <button
      on:click={() => {
        clickHandler();
      }}>
      Cancel
    </button>
    <button
      on:click={() => {
        clickHandler();
        model.addMail('drafts', {
          read: true,
          title: title,
          content: content,
          from: from,
          to: to,
          time: new Date()
        });
      }}>
      Save
    </button>
    <button
      on:click={() => {
        clickHandler();
        model.addMail('sent', {
          read: true,
          title: title,
          content: content,
          from: from,
          to: to,
          time: new Date()
        });
      }}>
      Send
    </button>
  </div>
</main>
